In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Umm Kaddadah,SD,2020-08-04 18:21:05,13.60,26.69,89.51,42,79,7.45
1,1,Vila Franca Do Campo,PT,2020-08-04 18:21:05,37.72,-25.43,75.20,78,20,11.41
2,2,Coihaique,CL,2020-08-04 18:21:05,-45.58,-72.07,48.20,66,40,4.70
3,3,Talnakh,RU,2020-08-04 18:21:06,69.49,88.40,64.40,88,98,8.95
4,4,Hilo,US,2020-08-04 18:17:26,19.73,-155.09,75.20,57,90,6.93

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
#Adjust zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Umm Kaddadah,SD,2020-08-04 18:21:05,13.60,26.69,89.51,42,79,7.45
1,1,Vila Franca Do Campo,PT,2020-08-04 18:21:05,37.72,-25.43,75.20,78,20,11.41
4,4,Hilo,US,2020-08-04 18:17:26,19.73,-155.09,75.20,57,90,6.93
6,6,Kathu,TH,2020-08-04 18:21:06,7.92,98.33,87.01,94,40,5.17
7,7,Rikitea,PF,2020-08-04 18:21:06,-23.12,-134.97,73.47,89,86,15.05
10,10,Saint Anthony,US,2020-08-04 18:21:06,45.02,-93.22,75.20,38,1,5.82
11,11,Kalmunai,LK,2020-08-04 18:21:06,7.42,81.82,81.25,65,98,6.17
14,14,Boyuibe,BO,2020-08-04 18:21:07,-20.42,-63.28,86.16,27,0,14.70
17,17,Chuy,UY,2020-08-04 18:21:07,-33.70,-53.46,71.35,65,0,8.34
18,18,Lola,GN,2020-08-04 18:21:07,7.80,-8.53,73.11,76,63,4.00

In [11]:
preferred_cities_df.count()

City_ID       278
City          278
Country       278
Date          278
Lat           278
Lng           278
Max Temp      278
Humidity      278
Cloudiness    278
Wind Speed    278
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                    City Country  Max Temp    Lat     Lng Hotel Name
0           Umm Kaddadah      SD     89.51  13.60   26.69
1   Vila Franca Do Campo      PT     75.20  37.72  -25.43
4                   Hilo      US     75.20  19.73 -155.09
6                  Kathu      TH     87.01   7.92   98.33
7                Rikitea      PF     73.47 -23.12 -134.97
10         Saint Anthony      US     75.20  45.02  -93.22
11              Kalmunai      LK     81.25   7.42   81.82
14               Boyuibe      BO     86.16 -20.42  -63.28
17                  Chuy      UY     71.35 -33.70  -53.46
18                  Lola      GN     73.11   7.80   -8.53

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head()

                   City Country  Max Temp    Lat     Lng           Hotel Name
0          Umm Kaddadah      SD     89.51  13.60   26.69
1  Vila Franca Do Campo      PT     75.20  37.72  -25.43  Pestana Bahia Praia
4                  Hilo      US     75.20  19.73 -155.09  Hilo Hawaiian Hotel
6                 Kathu      TH     87.01   7.92   98.33  Sunset Beach Resort
7               Rikitea      PF     73.47 -23.12 -134.97       Pension Maro'i

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [17]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))