In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Iquique,CL,2020-08-05 17:48:09,-20.22,-70.14,62.6,63,8,12.75
1,1,Clyde River,CA,2020-08-05 17:48:09,70.47,-68.59,42.8,75,75,12.75
2,2,Kodiak,US,2020-08-05 17:48:09,57.79,-152.41,57.2,76,1,5.82
3,3,Vaini,TO,2020-08-05 17:48:09,-21.20,-175.20,57.2,100,20,6.33
4,4,Ushuaia,AR,2020-08-05 17:48:10,-54.80,-68.30,44.6,52,75,4.70

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
#Adjust zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Jamestown,US,2020-08-05 17:43:14,42.10,-79.24,70.00,68,90,8.05
6,6,Thompson,CA,2020-08-05 17:46:18,55.74,-97.86,77.00,65,75,6.93
9,9,Nieuw Amsterdam,SR,2020-08-05 17:48:10,5.88,-55.08,87.80,62,40,5.82
10,10,Uvinza,TZ,2020-08-05 17:48:10,-5.10,30.39,70.92,52,33,4.63
11,11,Vila Velha,BR,2020-08-05 17:43:46,-20.33,-40.29,73.99,64,75,14.99
15,15,Naze,JP,2020-08-05 17:46:54,28.37,129.48,80.60,88,20,3.36
16,16,Rikitea,PF,2020-08-05 17:48:11,-23.12,-134.97,70.77,82,100,10.94
23,23,Albany,US,2020-08-05 17:48:11,42.60,-73.97,82.99,36,2,1.01
24,24,Georgetown,MY,2020-08-05 17:47:16,5.41,100.34,84.20,88,20,4.70
25,25,Caravelas,BR,2020-08-05 17:48:11,-17.71,-39.25,73.29,68,33,11.03

In [11]:
preferred_cities_df.count()

City_ID       252
City          252
Country       252
Date          252
Lat           252
Lng           252
Max Temp      252
Humidity      252
Cloudiness    252
Wind Speed    252
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
5         Jamestown      US     70.00  42.10  -79.24
6          Thompson      CA     77.00  55.74  -97.86
9   Nieuw Amsterdam      SR     87.80   5.88  -55.08
10           Uvinza      TZ     70.92  -5.10   30.39
11       Vila Velha      BR     73.99 -20.33  -40.29
15             Naze      JP     80.60  28.37  129.48
16          Rikitea      PF     70.77 -23.12 -134.97
23           Albany      US     82.99  42.60  -73.97
24       Georgetown      MY     84.20   5.41  100.34
25        Caravelas      BR     73.29 -17.71  -39.25

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Jamestown,US,70.00,42.10,-79.24,Hampton Inn & Suites Jamestown
6,Thompson,CA,77.00,55.74,-97.86,Burntwood Hotel
9,Nieuw Amsterdam,SR,87.80,5.88,-55.08,Hotel Stardust
10,Uvinza,TZ,70.92,-5.10,30.39,
11,Vila Velha,BR,73.99,-20.33,-40.29,Hotel Vitória Palace

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [17]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))