## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets


# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Lander,US,78.80,clear sky,42.83,-108.73,Holiday Inn Express & Suites Lander
1,4,Komsomolskiy,UZ,80.60,clear sky,40.43,71.72,Ikathouse
2,8,Alofi,NU,71.60,light rain,-19.06,-169.92,Taloa Heights
3,9,Bonavista,CA,70.97,few clouds,48.65,-53.11,Abbott's Bed & Breakfast
4,12,Laohekou,CN,81.27,overcast clouds,32.39,111.67,Laohekou Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df.set_index('City', inplace=True)
vacation_df.head()

,City_ID,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City,,,,,,,
Lander,1,US,78.80,clear sky,42.83,-108.73,Holiday Inn Express & Suites Lander
Komsomolskiy,4,UZ,80.60,clear sky,40.43,71.72,Ikathouse
Alofi,8,NU,71.60,light rain,-19.06,-169.92,Taloa Heights
Bonavista,9,CA,70.97,few clouds,48.65,-53.11,Abbott's Bed & Breakfast
Laohekou,12,CN,81.27,overcast clouds,32.39,111.67,Laohekou Hotel

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[["Luton"]]
vacation_end = vacation_df.loc[["Luton"]]
vacation_stop1 = vacation_df.loc[["Margate"]]
vacation_stop2 = vacation_df.loc[["Newport"]] 
vacation_stop3 = vacation_df.loc[["Liverpool"]]

In [7]:
# 4 data frames crated, one for each city on itinerary
#Luton, GB
vacation_start

,City_ID,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City,,,,,,,
Luton,321,GB,81.0,broken clouds,51.88,-0.42,Hampton by Hilton London Luton Airport

In [8]:
#Margate, GB
vacation_stop1

,City_ID,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City,,,,,,,
Margate,383,GB,82.99,few clouds,51.38,1.39,Premier Inn Margate hotel

In [9]:
#Newport, GB
vacation_stop2

,City_ID,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City,,,,,,,
Newport,68,GB,73.99,light rain,51.59,-3.0,ibis budget Newport

In [10]:
#Liverpool, GB
vacation_stop3

,City_ID,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City,,,,,,,
Liverpool,659,GB,75.0,scattered clouds,53.41,-2.98,Premier Inn Liverpool City Centre (Moorfields)...

In [11]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()
end = vacation_end[["Lat", "Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()
end.dtype

dtype('float64')

In [12]:
# The latitude and longitude pairs for each of the four cities are retrieved
start_coord = tuple(start.reshape(1, -1)[0])
print(f'Luton, GB: {start_coord}')
stop1_coord = tuple(stop1.reshape(1, -1)[0])
print(f'Margate, GB: {stop1_coord}')
stop2_coord = tuple(stop2.reshape(1, -1)[0])
print(f'Newport, GB: {stop2_coord}')
stop3_coord = tuple(stop3.reshape(1, -1)[0])
print(f'Liverpool, GB: {stop3_coord}')
end_coord = tuple(end.reshape(1, -1)[0])

Luton, GB: (51.88, -0.42)
Margate, GB: (51.38, 1.39)
Newport, GB: (51.59, -3.0)
Liverpool, GB: (53.41, -2.98)

In [13]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_map = gmaps.directions_layer(start_coord, end_coord, waypoints=[stop1_coord, stop2_coord, stop3_coord], travel_mode='DRIVING')
fig.add_layer(vacation_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3])
itinerary_df

,City_ID,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City,,,,,,,
Luton,321,GB,81.00,broken clouds,51.88,-0.42,Hampton by Hilton London Luton Airport
Margate,383,GB,82.99,few clouds,51.38,1.39,Premier Inn Margate hotel
Newport,68,GB,73.99,light rain,51.59,-3.00,ibis budget Newport
Liverpool,659,GB,75.00,scattered clouds,53.41,-2.98,Premier Inn Liverpool City Centre (Moorfields)...

In [15]:
#A DataFrame that contains the four cities on the itinerary is created
itinerary_df_reset = itinerary_df.reset_index()
itinerary_df_reset.head()

,City,City_ID,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Luton,321,GB,81.00,broken clouds,51.88,-0.42,Hampton by Hilton London Luton Airport
1,Margate,383,GB,82.99,few clouds,51.38,1.39,Premier Inn Margate hotel
2,Newport,68,GB,73.99,light rain,51.59,-3.00,ibis budget Newport
3,Liverpool,659,GB,75.00,scattered clouds,53.41,-2.98,Premier Inn Liverpool City Centre (Moorfields)...

In [16]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df_reset.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df_reset[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(52.0, 2.0), zoom_level=6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))